# Optical Character Recognition

### Aadhaar Card Data Pattern

### Pytesseract

In [1]:
import os
import re
import pytesseract
import pandas as pd
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [2]:
aadhaar_image_path = "data/aadhaar"
files = os.listdir(aadhaar_image_path)

for x, file in enumerate(files):
    source_file = os.path.join(aadhaar_image_path, file)
    destination_file = os.path.join(aadhaar_image_path, f"aadhaar_{x+1}.jpg")
    os.rename(source_file, destination_file)

In [3]:
img_path = r"data\aadhaar\aadhaar_7.jpg"
img_text = pytesseract.image_to_string(img_path)
print(img_text)

UA AHI AN

GOVERNMENT OF AADHAAR

Manish Das
DOB: 25/08/1990
Gender: Male

1234 5678 9012

12, Park Street
Kolkata, West Bengal - 700016

STAR â€” Tear Wa

In [4]:
name_obj = re.search(r"[A-Z][a-z]+[ ][A-Z][a-z]+", img_text)
if name_obj:
    name = name_obj.group()
else:
    name = None

dob_obj = re.search("[0-3][0-9][/][0-1][0-9][/]\d{4}", img_text)
if dob_obj:
    dob = dob_obj.group()
else:
    dob = None

pin_code_obj = re.search(r"\b\d{6}\b", img_text)
if pin_code_obj:
    pin_code = pin_code_obj.group()
else:
    pin_code = None

aadhaar_obj = re.search(r"\b\d{4}[ ]\d{4}[ ]\d{4}", img_text)
if aadhaar_obj:
    aadhaar = aadhaar_obj.group()
else:
    aadhaar = None

result = {
    "Name" : name,
    "DOB" : dob,
    "Pin Code" : pin_code,
    "Aadhaar" : aadhaar
}

result

{'Name': 'Manish Das',
 'DOB': '25/08/1990',
 'Pin Code': '700016',
 'Aadhaar': '1234 5678 9012'}

In [5]:
def fetch_aadhaar_details(img_path):
    img_text = pytesseract.image_to_string(img_path)

    name_obj = re.search(r"[A-Z][a-z]+[ ][A-Z][a-z]+", img_text)
    if name_obj:
        name = name_obj.group()
    else:
        name = None

    dob_obj = re.search("[0-3][0-9][/][0-1][0-9][/]\d{4}", img_text)
    if dob_obj:
        dob = dob_obj.group()
    else:
        dob = None

    pin_code_obj = re.search(r"\b\d{6}\b", img_text)
    if pin_code_obj:
        pin_code = pin_code_obj.group()
    else:
        pin_code = None

    aadhaar_obj = re.search(r"\b\d{4}[ ]\d{4}[ ]\d{4}", img_text)
    if aadhaar_obj:
        aadhaar = aadhaar_obj.group()
    else:
        aadhaar = None

    result = {
        "Name" : name,
        "DOB" : dob,
        "Pin Code" : pin_code,
        "Aadhaar" : aadhaar
    }
    return result

In [6]:
img_dir = r"data/aadhaar"
imgs = os.listdir(img_dir)
results = []
for x in imgs:
    full_path = os.path.join(img_dir, x)
    details = fetch_aadhaar_details(full_path)
    results.append(details)

In [7]:
df = pd.DataFrame(results)
df.to_excel("data/aadhaar_details.xlsx", index=False)
df

                Name         DOB Pin Code         Aadhaar
0       Qeveujun Car  17/11/1999     None            None
1    Vaishnavi Singh  16/11/2004     None  8911 3824 2345
2  Cristiano Ronaldo        None     None  9876 5432 1098
3          Mobile No  21/11/2000     None  3317 8533 4833
4       Nikhil Kumar  29/07/1980     None            None
5       Anjali Patel  30/04/1996     None  6975 1133 7134
6         Manish Das  25/08/1990   700016  1234 5678 9012
7               None        None     None  1234 5678 9012
8       Kiran Kumari  01/01/2003     None  4382 5165 5729