# Web Scrapping

Web Scrapping is a process of extracting meaningful data from webpages

In [1]:
import re
import urllib
import pandas as pd

In [2]:
url = "https://www.summet.com/dmsi/html/codesamples/addresses.html"
url_data_object = urllib.request.urlopen(url)
data = url_data_object.read().decode()

In [3]:
name_pattern = re.compile("<li>[A-Z]\w+[ ][A-Z]\w+<br/>")
test = re.findall(name_pattern, data)
name_test = [x.replace("<li>", "").replace("<br/>", "") for x in test if x == "<li>" or "<br/>"]
len(name_test)

100

In [4]:
zip_code_pattern = re.compile(r"\b\d{5}\b")
zip_test = re.findall(zip_code_pattern, data)
len(zip_test)

100

In [5]:
contact_number_pattern = re.compile(r"[(]\d{3}[)][ ]\d{3}[-]\d{4}")
contact_test = re.findall(contact_number_pattern, data)
len(contact_test)

100

In [6]:
scrapped_data = {
    "Names" : name_test,
    "Zip-code" : zip_test,
    "Contact Number" : contact_test
}

In [7]:
df = pd.DataFrame(scrapped_data)
df.to_excel("data/web_scrapped_data.xlsx", index=False)
df

               Names Zip-code  Contact Number
0    Cecilia Chapman    96522  (257) 563-7401
1        Iris Watson    20620  (372) 587-2335
2     Celeste Slater    11523  (786) 713-8616
3      Theodore Lowe    39531  (793) 151-6230
4       Calista Wise    47096  (492) 709-6392
..               ...      ...             ...
95    Pascale Patton    36734  (676) 334-2174
96      Nasim Strong    70863  (437) 994-5270
97  Keaton Underwood    19587  (564) 908-6970
98      Keegan Blair    07528  (577) 333-6244
99       Tamara Howe    48580  (655) 840-6139

[100 rows x 3 columns]