# Optical Character Recognition

### PAN Card Data Pattern

In [1]:
import pytesseract
import re
import os
import pandas as pd
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

### Renaming All Files

In [2]:
pan_card_dir = r"data\pan"
files = os.listdir(pan_card_dir)

for i, x in enumerate(files):
    source_path = os.path.join(pan_card_dir, x)
    dest_path = os.path.join(pan_card_dir, f"pan_{i+1}.jpg")
    os.rename(source_path, dest_path)

### OCR for PAN Card

In [3]:
pan_data = str()
for x in os.listdir("data/pan"):
    full_path = os.path.join(pan_card_dir, x)
    pan_data+=pytesseract.image_to_string(full_path)

### Exracting All Useful PAN Data

In [4]:
pan_name=re.findall(r"\b[.A-Z]{7,8}\s[A-Z]+",pan_data)[1::]
print(pan_name)

birth =re.findall(r"[0-3]\d[/][0-1]\d[/]\d{4}",pan_data)
print(birth)

pan_cardnum=re.findall(r"[A-Z]{5}\d{4}[A-Z]",pan_data)
print(pan_cardnum)

results={
    "Name":pan_name,
    "Pancard":pan_cardnum,
    "Date of birth":birth
}

['MAHADEV SHINDE', 'KOCHERLA SRIKANTH', 'MUKKANTI KOCHERLA']
['31/10/1992', '16/07/1986', '04/05/1997']
['EJAPS0276M', 'BNZPM2501F', 'GQBPK8700C']

### Converting into DataFrame & Exporting to Excel

In [5]:
df = pd.DataFrame(results)
df.to_excel("data/pan_details.xlsx", index=False)
df

                Name     Pancard Date of birth
0     MAHADEV SHINDE  EJAPS0276M    31/10/1992
1  KOCHERLA SRIKANTH  BNZPM2501F    16/07/1986
2  MUKKANTI KOCHERLA  GQBPK8700C    04/05/1997